body{
  width: 100%;
  height: 100vh;
  background-image: url(https://windowsforum.kr/files/attach/images/48/235/192/001/dd.jpg);
  background-size: cover;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.titleBox{
  font-family: 'DungGeunMo';
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.titleBox img {
  width: 70px;
  margin-right: 20px;
}

.title{
  color: #ffffff;
}